body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
}

.subtractButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: large;
    background-color: antiquewhite;
    border-radius: 25px;
    box-shadow: 3px 3px 2px red;
}

.addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: large;
    background-color: antiquewhite;
    border-radius: 25px;
    box-shadow: 3px 3px 2px blue;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: large;
}